<!DOCTYPE html>
<html>
<head>
	<title>The Wall</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/dashstyle.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text navbar-left">Hello, {{session['username']}}</p>
				<ul class="nav navbar-nav navbar-right pull-right">
					<li>
						<a href="/logout" class='btn navbar-btn-sm'>Logout <span class="glyphicon glyphicon-log-out"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<h1>The Wall</h1>
	<form action='/post' class='container' method='post' id='msg'>
		<input type="hidden" name="message">
		<div class="form-group col-xs-10 col-sm-6 col-md-5 col-lg-4">
			<label for="message">Post a Message:</label>
			<textarea name='content' id='message' class='form-control' rows='5'></textarea>
		</div>
		<div class="form-group col-sm-10">
			<input type="submit" class='btn btn-default' value='Post Messsage'>
		</div>
	</form>
	<hr>
	{% for message in messages %}
		<div class="message container">
			<span><b>{{message['username']}} posted:</b></span>
			<p>{{message['content']}}</p>
		</div>
		<div id='comment' class='comment container'>
			{% for comment in comments %}
				{% if message['id'] == comment['message_id'] %}
					<span><b>{{comment['username']}} commented:</b></span>
					<p>{{comment['content']}}</p>
				{% endif %}
			{% endfor %}
			<form action='/post' method='post' class='container' id='cmt'>
				<input type="hidden" name="comment">
				<input type="hidden" name="message_id" value={{message['id']}}>
				<div class="form-group col-xs-10 col-sm-6 col-md-5 col-lg-4">
					<label for="comment ">Add a Comment:</label>
					<textarea name='content' id='comment' class='form-control' rows='3'></textarea>
				</div>
				<div class="form-group col-sm-10">
					<input type="submit" class='btn btn-default btn-sm' value='Post Comment'>
				</div>
			</form>
		</div>
	<hr>
	<br>
	{% endfor %}
</body>
</html>
